@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
  color: #e1e1e1;
  
}
#root{
  /* background-color: rgba(187, 187, 187, 0.746); */
}

body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* min-height: 100vh; */
  margin: 0;
  font-family: "Lato", sans-serif;
  /* background:url(./assets/pexels-thiago-matos-3708554.jpg) no-repeat center center fixed ; */
  background-color: #3b3b3b;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  margin: 30px 20px;
  width: 400px;
  height: 650px;
}
.signContainer{
  margin: 10px auto;
  margin-top: 50px;
  width:90%;
}
.accContainer {
  margin: 20px auto;
  /* width: 400px; */
  display: block;
  height: 90%;
  overflow: scroll;
}

h1 {
  letter-spacing: 1px;
  margin: 10px auto;
  font-size: 25px;
}

.title{
  float:left;
  margin:10px 10px;
  margin-left: 0px;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 30px 0 10px;
}

h4 {
  color: #3b3b3b;
  margin: 0;
  text-transform: uppercase;
}
h{
  color: #3b3b3b;
}

p{
  margin-bottom: 0%;
}
a{
  color: #e1e1e1;
  text-decoration: none;
}
a:link{
  text-decoration: none;
  
  text-decoration: none;
}
/* a:visited {
  text-decoration: none;
  color: #333;
} */

a:hover {
  color:red;
}

.toolBar ul{
  list-style-type: none;
  padding: 0px;
  text-align: center;
}

.toolBar li{
  color: #e1e1e1;
  margin: 10px 14px;
  display: inline;
}

.inc-exp-container {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}

label {
  display: inline-block;
  margin: 0;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"] {
  border: 1px solid #dedede;
  border-radius: 15px;
  display: block;
  font-size: 16px;
  margin: 10px auto;
  padding: 8px;
  width: 100%;
}

.btn {
  cursor: pointer;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  /* display: inline-block; */
  font-size: 16px;
  margin: 10px 10px;
  padding: 10px;
  align-items:center;
  width: 42%;
}

.dropdownBtn{
  display: none;
  width: 10%;
  float: right;
}
.dropdownBtn::after {
  content: none;
}

.loginBtn{
  margin: 12px auto;

}

.incomeBtn{
  background-color: rgb(4, 160, 4);
  float:left;
}
.expenseBtn{
  background-color: red;
 
  float:right;
}



.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  /* margin-bottom: 40px; */
  height: 230px;
  overflow-y:scroll;
 
}

.list li {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px auto;
  width: 85%;
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border-radius: 5px;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  /* padding: 2px 5px; */
  margin-right: 6px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}

.clearfix{
  clear:both
}


/* @media only screen and (min-width: 768px) {

} */

@media (max-width: 960px) {
  .toolBar ul     { display: none; }
  .dropdownBtn {display: initial;}
  /* nav select { display: inline-block; } */
}